.accordion {
    &__head {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid #C7C7C7;
        color: #c7c7c7;
        font-size: 16px;
        cursor: pointer;
        transition: opacity .3s;

        @include media(1100) {
            display: flex;
        }

        &:hover {
            opacity: .7;
        }
    }

    .accordion__name {
        .more {
            display: block;
        }

        .closed {
            display: none;
        }
    }

    .accordion__img {
        .plus {
            display: block;
        }

        .minus {
            display: none;
        }
    }

    .accordion__body {
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0s ease, opacity 0.5s ease;
        margin-bottom: 10px;

        @include media(1100) {
            transform: translateZ(0);
        }
    }

    &.open {
        .accordion__body {
            max-height: 1000px;
            /* достаточно большое значение */
            opacity: 1;
        }

        .accordion__name {
            .more {
                display: none;
            }

            .closed {
                display: block;
            }
        }

        .accordion__img {
            .plus {
                display: none;
            }

            .minus {
                display: block;
            }
        }
    }
}