.payments {
    color: #6C6C6C;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;

    @include media(768) {
        margin-left: 0;
    }

    &__title {
        margin-right: 20px;
    }
}