.problem {
    z-index: 100;
    position: relative;

    &__head {
        text-align: center;
        margin-bottom: 50px;
        font-size: 25px;

        @include media (768) {
            font-size: 20px;
            margin-bottom: 38px;
        }

        @include media (480) {
            font-size: 18px;
            margin-bottom: 28px;
        }
    }

    &__title {
        font-weight: 700;
        display: block;
    }

    &__subtitle {
        font-weight: 300;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media (1100) {
            flex-direction: column;
        }
    }

    &__img {
        max-width: 728px;
        margin-right: 40px;

        @include media (768) {
            display: none;
        }
    }

    &__img-mobile {
        display: none;

        @include media (768) {
            display: block;
        }
    }

    &__info {
        font-weight: 300;
        font-size: 20px;

        @include media (1100) {
            margin-top: 20px;
        }

        @include media (768) {
            align-self: flex-start;
            margin-top: 20px;
            font-size: 18px;
        }

        @include media (480) {
            font-size: 16px;

        }

        &_title {
            margin-bottom: 16px;
        }

        &_item {
            $custom_marker_width: 10px;

            padding-left: calc($custom_marker_width + 30px);
            position: relative;
            line-height: 1;

            &:not(:last-child) {
                margin-bottom: 14px;
            }

            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                background-color: #9795FF;
                border-radius: 50%;
                margin-right: 30px;
            }
        }


    }


}