.section {
    $blur: 30px;

    &__hero {
        padding-bottom: calc($blur + 20px);

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            filter: blur($blur);
            background: linear-gradient(139deg, #F6F0e3, #D8C6FE);
        }
    }

    &__problem {

        @mixin decor_stroke_decor {
            background-image: url('/src/assets/img/background_stroke.svg');
            width: 529px;
            height: 533px;
            position: absolute;

            @include media(1100) {
                display: none;
            }
        }

        margin-bottom: 100px;
        padding-top: 95px;
        overflow-x: hidden;

        @include media(1100) {
            overflow-x: initial;
            padding-top: 80px;
        }

        @include media(768) {
            padding-top: 60px;
        }

        @include media(480) {
            margin-bottom: 83px;
            padding-top: 57px;
        }

        .decor_stroke_bg_left {
            @include decor_stroke_decor;
            right: 96%;
            top: -53px;


        }

        .decor_stroke_bg_right {
            @include decor_stroke_decor;
            left: 100%;
            top: 130px;
        }
    }

    &__present {
        margin-bottom: 150px;

        &:after {
            content: "";
            position: absolute;
            top: 95px;
            bottom: 265px;
            left: 0;
            width: 100%;
            background: linear-gradient(-55deg, #D9C6FF, #E7FCFF);
            filter: blur(50px);

            @include media (768) {
                display: none;
            }
        }

        @include media(768) {
            padding-top: 36px;
            margin-bottom: 120px;
        }

        @include media(480) {
            padding-top: 26px;
            margin-bottom: 100px;
        }
    }

    &__tariffs {
        z-index: 100;
    }

}