.btn {
    width: fit-content;
    min-width: 88px;
    padding: 14px 20px;
    color: #fff;
    background-color: #9795FF;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;
    font-weight: 500;

    &:hover {
        background-color: #8A88F1;
    }

    &:active {
        background-color: #7D7BDD;
    }
}

.btn-secondary {
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 5px 20px;
    color: #2C2C2C;
    font-weight: 700;
    font-size: 14px;
    transition: opacity .3s;

    &:hover {
        opacity: .7;
    }
}

.uppercase {
    text-transform: uppercase
}