extends  ../layouts/main/layout

block title
    | Mono

block content
    .main_page
        include ../sections/hero.pug
        include ../sections/problem.pug
        .mobile_background
            include ../sections/present.pug
            include ../sections/tariffs.pug
