extends  ../layouts/main/layout

block title
    | Mono

block content
    .main_page
        include ../sections/hero.pug
        include ../sections/problem.pug
        .mobile_background
            include ../sections/present.pug
            include ../sections/tariffs.pug
    #scrollToTopBtn 
        span.scrollToTopBtn-name К началу 
        <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.72363 0.03125L0.223633 7.53125L1.56738 8.875L7.72363 2.6875L13.8799 8.84375L15.2236 7.5L7.72363 0.03125Z" fill="currentColor"/>
        </svg>


