extends  ../layouts/main/layout

block title
    | page2

block content
    section.section.section__hero.hero     
    .hero__head 
        .logo 
            | logo
        .nav 
            span.nav__title 
                | Есть аккаунт?
            span.nav__controlls 
                .btn | войти
    .hero__main 
        .h1 
            div.uppercase
                | моно
            div 
                | Управлять арендой - это легко!
        .h3     
            | Все инструменты в одном месте
        .btn 
            | Попробовать сейчас!
        .btn.btn-secondary

