section.section.section__hero
    .global_container
        .header 
            .logo
                img(src="/src/assets/icons/logo.svg") 
            .nav 
                .nav__title 
                    | Есть аккаунт?
                .nav__controlls 
                    .btn 
                        | Войти
    .container.hero 
        img(src="/src/assets/img/hero_effect.svg", alt="").hero__effect
        
        .hero__main
            
            img(src=logoSrc)
            img(src="/src/assets/img/hero_decor.svg").hero__decor-img
            .hero__info
                .hero__title 
                    div(style="text-transform: uppercase") 
                        | моно
                    div     
                        | Управлять арендой - это легко!
                .hero__subtitle 
                    | Все инструменты в одном месте
                .hero__controlls
                    .btn.uppercase
                        | Попробовать сейчас!
                    .btn-secondary.uppercase
                        | 30 дней бесплатно
