@import './config/index.scss';

.main {
    margin-bottom: 100px;
}

.section__hero {
    // background: url("../assets/icons/hero_background.svg") no-repeat center / cover;
    // background-attachment;
    // background-clip: ;
    // background-color: ;
    background-image: url("../assets/icons/hero_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 95px;
}

.section__present {
    margin-bottom: 150px;
}

.hero {
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 14px;
        padding-top: 20px;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__decor-img {
        max-width: 800px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 50px;
        font-weight: 700;
        color: #9795FF;
        margin-bottom: 30px;
        text-align: center;
    }

    &__subtitle {
        color: #9795FF;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 2px solid #9795FF;
        font-weight: 700;
        font-size: 24px;
    }

    &__controlls {
        display: flex;
        flex-direction: column;
        align-items: center;

        *:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.logo {}

.nav {
    display: flex;
    align-items: center;

    &__title {
        margin-right: 20px;
    }
}

.btn {
    width: fit-content;
    min-width: 88px;
    padding: 14px 20px;
    color: #fff;
    background-color: #9795FF;
    border-radius: 50px;
    font-size: 16px;
    line-height: 1.14;
    text-align: center;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
        background-color: #8A88F1;
    }

    &:active {
        background-color: #7D7BDD;
    }
}

.btn-secondary {
    cursor: pointer;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 5px 20px;
    color: #2C2C2C;
    font-weight: 700;
    font-size: 14px;
    transition: opacity .3s;

    &:hover {
        opacity: .7;
    }
}

.problem {
    &__head {
        text-align: center;
        margin-bottom: 100px;
        font-size: 25px;
    }

    &__title {
        font-weight: 700;
    }

    &__subtitle {
        font-weight: 300;
    }

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__img {
        max-width: 728px;
        margin-right: 40px;
    }

    &__info {
        font-weight: 300;
        font-size: 20px;

        &_title {
            margin-bottom: 20px;
        }

        &_list {
            list-style-position: outside;
            padding-left: 20px;
        }

        &_item {
            list-style-type: disc;
            padding-left: 30px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &::marker {
                color: #9795FF;
            }
        }


    }


}

// present
.present {
    &__head {
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        margin-right: 10px;
        text-align: center;
    }

    &__title {
        font-weight: 700;
        font-size: 35px;
        margin-bottom: 35px;
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__disclamer {
        margin-top: 10px;
        font-weight: 700;
        font-size: 14px;
    }

    &__img {
        max-width: 503px;
        width: 100%;
    }
}

.cases {
    margin-bottom: 100px;

    &__list {
        display: flex;
        margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__img {
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 16px;
    }
}

.tariffs {
    &__head {
        text-align: center;
        margin-bottom: 60px;
    }

    &__decor {
        margin-bottom: 60px;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
    }

    &__list {
        margin-bottom: 60px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    &__item.tariff:not(:last-child) {
        margin-right: 33px;
    }

    &__actions {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    &__disclamer {
        text-align: center;

        &_text {
            font-size: 25px;
            font-weight: 300;
        }
    }
}

.tariff {
    &__preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 55px 50px;
        border-radius: 10px;
        margin-bottom: 40px;

        &[data-attr="base"] {
            background: linear-gradient(rgba(232, 232, 255, 1), rgba(251, 221, 255, 1));
        }

        &[data-attr="max"] {
            background: linear-gradient(rgba(251, 246, 206, 1), rgba(219, 202, 251, 1));
        }

        &[data-attr="optimum"] {
            background: linear-gradient(rgba(231, 252, 255, 1), rgba(217, 198, 255, 1));
        }
    }



    &__previewImg {
        max-width: 246px;
        margin-bottom: 20px;
    }

    &__name {
        font-size: 25px;
        font-weight: 700;
        color: #7D7BDD;
    }

    &__title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &__item {
        font-size: 14px;
        line-height: 1.4;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &[data-attr="extra"] {
            font-size: 12px;
        }

        &_icon {
            margin-bottom: 10px;
        }
    }

    .item:not(:last-child) {
        margin-bottom: 10px;
    }
}