//- метаданные
meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="format-detection" content="telephone=no")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

//- Аналитика
if process.env.IS_PROD === 'true'
  include ../../config/ym.pug

//- favicons
link(rel="icon" href="/src/assets/img/favicons/16x16.png" sizes="16x16" type="image/png")
link(rel="icon" href="/src/assets/img/favicons/32x32.png" sizes="32x32" type="image/png")
link(rel="apple-touch-icon" href="/src/assets/img/favicons/apple-touch-icon.png")
<link rel="manifest" href="/manifest.webmanifest" >

//- Open Graph – микроразметка
meta(property="og:locale" content="ru_RU")
meta(property="og:title" content="Mono - Управление арендой недвижимости легко и удобно")
meta(property="og:site_name" content="Mono")
meta(property="og:type" content="website")
meta(property="og:description" content="Mono - универсальный инструмент для управления арендой недвижимости. Все функции в одном месте")
meta(property="og:image"
    content="/src/assets/img/favicons/1200x630.png")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:url" content="http://mono.re/")
//- <!-- Если нужно указать автора странички (актуально для блога, постов, статей) -->
//- meta(property="article:author" content="None")
//- <!-- Если нужно указать автора странички (актуально для блога, постов, статей) -->
//- meta(property="article:publisher" content="None")

title
  block meta_title
    | Mono - Управление арендой недвижимости легко и удобно

block meta_description
  meta(name="description" content="Mono - универсальный инструмент для управления арендой недвижимости. Все функции в одном месте") 