//- variables
block variables

doctype html
html(lang="ru")
  head
    link(rel="stylesheet" href="/src/styles/app.scss")
    script(type='module' src="/src/scripts/app.js")
    include head
  body
    if process.env.IS_PROD === 'true'
      noscript
        div
            img(src="https://mc.yandex.ru/watch/96468256" style="position:absolute; left:-9999px;" alt="")
    main.main_layout
      block content
    include footer
    
    include ../popup.pug
